@import url("https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --w: #ffff;
  --b: #131313;
}

.global.withTheme {
  --w: #000;
  --b: #fff;
}

.swiper {
  width: 100%;
  height: 80%;
  outline: none;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  color: var(--b);
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

* {
  font-family: "Playwrite NG Modern", cursive;
}

h1 {
  font-size: 32px;
  user-select: none;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 19px;
}

h4 {
  font-size: 16px;
}
h5 {
  font-size: 13px;
}
h6 {
  font-size: 11px;
}
